.rating-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: wrap;
  vertical-align: baseline;
  border-radius: .25em;
  /*word-wrap: break-word;*/
  /*white-space: normal;*/
}

.rating-description {
  display: inline;
  padding: .2em .6em .9em;
  font-size: 75%;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: wrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.rating-comment {
  padding: .2em .6em .3em;
  font-size: 111%;
  font-weight: 300;
  line-height: 1;
  color: #333;
  background-color: #fff;
}

.rating-c1 {
  padding: .2em .6em .3em;
  font-size: 111%;
  font-weight: 300;
  line-height: 1;
  color: #149765;
}


.comment-progress {
  height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.centered
{
  text-align:center;
}
.btn.newclass {width:25%; display:block; margin: 0 auto;}

.comment-1 {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #148;
}

.score {
  float: left;
  text-align: center;
  /*font-family: "league_gothicregular";*/
  font-size: 25px;
  padding: 7px 0;
  background: #fff;
  margin-right: 20px;
  width: 100%;
  border-radius: 15px;
}
.breakdown .break, .professor-notes .tftable td .rating-block .breakdown .break {
  float: left;
  width: 100%;
  margin-bottom: 2px;
}

.score.good{
  color: #b4d235;
  border: 2px solid #8AC007;
}

.score.okay{
  color: #337ab7;
  border: 2px solid #337ab7;
}


.score.average{
  color: #f7cc20;
  border: 2px solid #f7cc20;
}

.score.poor {
  color: #ff3333;
  border: 2px solid #ff3333;
}

.score.na {
  color: #c1c1c1;
  border: 2px solid #c1c1c1;
}

.no-hashtags {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}

.date {
  margin-left: -12px;
}

