
%div{:class=>"col-sm-2"}
    %div{:class=>"break text-center"}
        - if width > 3
            %small{:class=>"score good"} #{width} 
        - elsif width > 1
            %small{:class=>"score average"} #{width} 
        - else 
            %small{:class=>"score poor"} #{width} 
        %br
        %small{:class=>"rating-label"} #{title}