// = select :pup, var, list, {:class => 'form-control'}
= text_field :pup, 'poops', :class => "form-control", :id => "breed_find", :placeholder => "Breed Name"
%div{:id => 'breed_autofills', :class => "form-group col-md-12"}
