/ = label :pup, :breed_1, title
/ = select :pup, :breed_1, list, {:class => 'form-control'}

%div{:class => "col-sm-10 row"}
	%div{:class => "col-sm-3"}
		= label :pup, var, title
	%div{:class => "col-sm-5"}
		= select :pup, var, list, {:class => 'form-control'}