%div{:class =>"price-slider row"}
    %div{:class=>"col-sm-6"}
        %h4{:class => "great"} #{title} 
        / %p{:id => id} 0
        %div{:class=>"col-sm-3 pull-right"}
            = text_field :pup, var, :class => "form-control", :id => id, :readonly => true, :value => "0"
        %span #{description}
    %br
    %br
    %div{:class=>"col-sm-6 pull-right"}
        %div{:id => slider}