%div{:class =>"price-slider row"}
    %div{:class=>"col-sm-6"}
        %h4{:class => "great"}=label :pup, var, title
        %div{:class=>"col-sm-3 pull-right"}
            = text_field :pup, var, :class => "form-control", :id => id, :readonly => true, :value => "0"
        %span #{description}
    %br
    %br
    %div{:class=>"col-sm-6 pull-right paw"}
        %div{:class => "pull-left"}
            %label
                %i{:class =>"fa fa-paw fa-2x", :id => "first"}
        %div{:class => "pull-left"}
            %label
                %i{:class =>"fa fa-paw fa-2x", :id => "second"}
        %div{:class => "pull-left"}
            %label
                %i{:class => "fa fa-paw fa-2x", :id => "third"}
        %div{:class => "pull-left"}
            %label
                %i{:class =>"fa fa-paw fa-2x", :id => "fourth"}
        %div{:class => "pull-left"}
            %label
                %i{:class => "fa fa-paw fa-2x", :id => "fifth"}