%div{:class=>"tag-holder", :id=>"chooseTagModal"}
    %a{:href=>"#", :class=>""} Easy to obedience train
    %a{:href=>"#", :class=>""} Hard to obedience train
    %a{:href=>"#", :class=>""} Easy to housetrain
    %a{:href=>"#", :class=>""} Hard to housetrain
    %a{:href=>"#", :class=>""} High energy
    %a{:href=>"#", :class=>""} Calm personality
    %a{:href=>"#", :class=>""} Barks a lot
    %a{:href=>"#", :class=>""} Very quiet
    %a{:href=>"#", :class=>""} One person dog
    %a{:href=>"#", :class=>""} Friendly toward everyone
    %a{:href=>"#", :class=>""} Unpredictable with strangers
    %a{:href=>"#", :class=>""} Unpredictable with children
    %a{:href=>"#", :class=>""} Independent
/ %a{:href=>"#", :class=>""}
/ Constant companion around home
/ %a{:href=>"#", :class=>""}
/ Great with other dogs
/ %a{:href=>"#", :class=>""}
/ Unpredictable with other dogs
/ %a{:href=>"#", :class=>""}
/ Great with cats, other small animals
/ %a{:href=>"#", :class=>""}
/ Unpredictable with cats, other small animals
/ %a{:href=>"#", :class=>""}
/ Loves to play ball, fetch
/ %a{:href=>"#", :class=>""}
/ Well mannered, can go anywhere with me
/ %a{:href=>"#", :class=>""}
/ Eats poop or other disgusting things
/ %a{:href=>"#", :class=>""}
/ Sheds a lot
/ %a{:href=>"#", :class=>""}
/ Coat needs frequent grooming
