%div{:class=>"tag-holder hidden", :id=>"chooseTagModal"}
    %a{:href=>"#", :class=>"hashtag"} Easy to obedience train
    %a{:href=>"#", :class=>"hashtag"} Hard to obedience train
    %a{:href=>"#", :class=>"hashtag"} Easy to housetrain
    %a{:href=>"#", :class=>"hashtag"} Hard to housetrain
    %a{:href=>"#", :class=>"hashtag"} High energy
    %a{:href=>"#", :class=>"hashtag"} Calm personality
    %a{:href=>"#", :class=>"hashtag"} Barks a lot
    %a{:href=>"#", :class=>"hashtag"} Very quiet
    %a{:href=>"#", :class=>"hashtag"} One person dog
    %a{:href=>"#", :class=>"hashtag"} Friendly toward everyone
    %a{:href=>"#", :class=>"hashtag"} Unpredictable with strangers
    %a{:href=>"#", :class=>"hashtag"} Unpredictable with children
    %a{:href=>"#", :class=>"hashtag"} Independent
/ %a{:href=>"#", :class=>""}
/ Constant companion around home
/ %a{:href=>"#", :class=>""}
/ Great with other dogs
/ %a{:href=>"#", :class=>""}
/ Unpredictable with other dogs
/ %a{:href=>"#", :class=>""}
/ Great with cats, other small animals
/ %a{:href=>"#", :class=>""}
/ Unpredictable with cats, other small animals
/ %a{:href=>"#", :class=>""}
/ Loves to play ball, fetch
/ %a{:href=>"#", :class=>""}
/ Well mannered, can go anywhere with me
/ %a{:href=>"#", :class=>""}
/ Eats poop or other disgusting things
/ %a{:href=>"#", :class=>""}
/ Sheds a lot
/ %a{:href=>"#", :class=>""}
/ Coat needs frequent grooming
