/ = label :pup, :pup_name, title
/ = text_field :pup, var, :class => "form-control", :placeholder => placeholder
= label :pup, var, title
%div{:class => "explanation"} #{explanation}
= text_field :pup, var, :class => "form-control", :placeholder => placeholder
