%div{:class => "container"}
  %div{:class => "header"}
    %h1 Rate a New Pup

  - flash.each do |key, value|
    %p{:class => "unfilled_fields"}= value

  = form_tag dog_breeder_path, :class => "form-horizontal", :method=>'get' do

    /BASIC INFO GROUP/
    %div{:class => "sub-header"}
      %h3 Do you know your dog's breed? 
      %h5 If so, please select a breed for your dog. Otherwise, select 'I don't know.'
    %br
      
   
    = render 'breed_checkbox'
    
    %div{:class => "form-group col-sm-2"}
      = submit_tag 'Next', :id => 'next_button', :class => "form-control", :confirm => ""
