%div{:class => "container"}
  %div{:class => "header"}
    %h1 Rate a New Pup

  - flash.each do |key, value|
    %p{:class => "unfilled_fields"}= value

  = form_tag dog_how_long_path, :class => "form-horizontal", :method=>'get' do

    /BASIC INFO GROUP/
    %div{:class => "sub-header"}
      %h3 Let's get some basic information about your pup!
    %br
    %div{:class => "form-group great text-center", :class => "sub-title"}
      = render 'text_input', title: "What's your pup's name?", var: 'pup_name', placeholder: "Name", explanation: "Name is for our records only, your pup's name will never show up on public ratings pages."
      %br

    %div{:class => "form-group col-sm-2"}
      = submit_tag 'Next', :id => 'next_button', :class => "form-control", :confirm => ""
