%div{:class => "container"}
  %div{:class => "header"}
    %h1 How Long?

  - flash.each do |key, value|
    %p{:class => "unfilled_fields"}= value

  = form_tag dog_breeder_path, :class => "form-horizontal", :method=>'get' do

    /BASIC INFO GROUP/
    =label :pup, "Please select a breed for your dog."
    = render 'breed_checkbox'

    %div{:class => "form-group col-sm-2"}
      = submit_tag 'Next', :id => 'next_button', :class => "form-control", :confirm => ""
