%h1 All Pups:

%table#pups
  %thead
    %tr
      %th Puppy Name
      %th Breeder Name

  %tbody
    - @pups.each do |pup|
      %tr
        %td= pup.pup_name
        %td= pup.breeder

= link_to 'Add new pup', new_pup_path