.rating-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.rating-comment {
  padding: .2em .6em .3em;
  /*font-size: 75%;*/
  font-weight: 300;
  line-height: 1;
  color: #333;
}

.comment-progress {
  height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}