%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1= @how_you_can_help_text.title
    .text-content
      = simple_format @how_you_can_help_text.body
  %center
    %a{:class => "btn btn-primary", :href => root_path}
      Go Back to Home Page