%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1 Our Mission 
    %h3 Our Mission is to create a database of user-generated content about companion dogs and dog breeders, designed to help dog lovers find simpatico puppies with whom to share their homes and lives.
  %center
    %a{:class => "btn btn-primary", :href => root_path}
      Go Back to Home Page
