%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1 Our Mission 
    %h3= @text.body
  %center
    %a{:class => "btn btn-primary", :href => root_path}
      Go Back to Home Page
