%div{:class => "container text-container"}
  %div{:class => "header"}
    %h1 Welcome to SimpaticoPup!
    %p Thank you for your willingness to contribute information about your dog. Information from dog owners like you will help create a  database of information that will help other dog lovers find the perfect puppy to join their family by identifying the dog breeds that have the traits they are looking for, and identifying responsible dog breeders who have track records of producing excellent companion dogs.
    %p In the interest of keeping the information in this database as accurate as possible, we are only collecting information about dogs that:
    %ul
      %li have lived in their owner's home for at least six months, and 
      %li are purebred members of a recognized American Kennel Club breed (either registered, or not), or are one of the following popular hybrid crosses: Labradoodle, Goldendoodle, Puggle, Maltipoo, Yorkipoo, or Shihpoo.
    %p If your dog meets the two criteria above, please sign in or create a username and password to create an account. Your information will not be shared with anyone, and the review of your dog will be anonymous. Thank you.  
  %center
    %left
      %a{:class => "btn btn-primary", :href => '/users/sign_up'}
        I Want To Sign Up
    %right
      %a{:class => "btn btn-primary", :href => '/users/sign_in'}
        I Want To Sign In
